<div id="<%= delivery_address.id %>">
  <p>
    <strong>Name:</strong>
    <%= delivery_address.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= delivery_address.address %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= delivery_address.phone_number %>
  </p>

  <p>
    <%= link_to 'Delete Address', "javascript:void(0)", customer_id: current_customer.id, delivery_address_id: delivery_address.id, class: "delete_address" if @customer == current_customer %>
  </p>
</div>

