<%= form_with(model: [ @customer, @customer.delivery_addresses.build ]) do |form| %>
  <div class="row">
    <div class="input-field col s6" >
      <%= form.label :Name %><br>
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6" >
      <%= form.label :Address %><br><br>
      <%= form.text_area :address %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6" >
      <%= form.label :Phone_Number %><br>
      <%= form.text_field :phone_number %>
    </div>
  </div>
  <%= form.submit :Add %>
<% end %>


