<div class="navbar-fixed">
  <nav  class="teal darken-2">
    <div class="nav-wrapper">
      <ul class="left hide-on-med-and-down">
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Customers', customers_path if is_admin? %></li>
        <li><%= link_to 'New product', new_product_path if is_admin? %></li>
      </ul>
      <a class="brand-logo center">Hello <%=current_customer.name if current_customer%>!!</a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Home', welcome_index_path%></li>
        <li><%= link_to 'Your Details', customer_path(current_customer) if current_customer%></li>
        <li><%= link_to 'Cart', shopping_cart_items_show_path if current_customer%></li>
        <li><%= link_to 'Orders', orders_show_path if current_customer %></li>
        <li><%= link_to 'Login', new_session_path unless current_customer %></li>
        <li><%= link_to 'Logout', session_path(session[:customer_id]),
              method: :delete,
              data: { confirm: 'Are you sure?' } if current_customer%></li>
      </ul>
    </div>
  </nav>
</div>
