<font size ="4"><p align=right>
  <%= link_to 'Home', welcome_index_path %></p>
<body bgcolor="#99CCCC" text="#003399" vlink="#0066FF">

<div class="Edit_Form">
  <center><h1>Update Details</h1>
  <%= form_with model: @customer do |f| %>
    <p> Username:</br> <%= f.text_field :name%> </p>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Phone Number:</br> <%= f.text_field :phone_number%> </p>
    <%= f.submit :Update %>
  <% end %>

  <% if @customer.errors.any? %>
    <ul class="Edit_Errors">
    <% for message_error in @customer.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %></center>
</div></font>

<center><%= link_to 'Back', customer_path(current_customer.id) %></center>
