<div class="navbar-fixed">
  <nav  class="teal darken-2">
    <div class="nav-wrapper">
      <a> © <%= Date.today.year %> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href= "new">SignUp</a></li>
        <li><a href= "/sessions/new">Login</a></li>
        <li><a href="/welcome/index">Home</a></li>
      </ul>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
    <h2>Sign Up</h2>
    <%= form_for(:customer, :url => {:controller => 'customers', :action => 'create'}) do |f| %>
      <div class="row">
        <div class="input-field col s6" >
          <p> Username:</br> <%= f.text_field :name%> </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6" >
          <p> Email:</br> <%= f.text_field :email%> </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6" >
          <p> Phone Number:</br> <%= f.text_field :phone_number%> </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6" >
          <p> Password:</br> <%= f.password_field :password%></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6" >
          <p> Password Confirmation:</br> <%= f.password_field :password_confirmation%> </p>
        </div>
      </div>
      <%= f.submit :Signup %>
    <% end %>
    <%= render 'shared/errors', object: @customer %>
  </div>
</div>

