
<% @delivery_address = current_customer.delivery_addresses.find_by(id: params[:delivery_address_id]) %>
<p>
  <strong>Name:</strong>
  <%= @delivery_address.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @delivery_address.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @delivery_address.phone_number %>
</p>


<p><strong>Order Details: </strong></p>
<% if current_customer.shopping_cart_items.any? %>
  <% total = 0 %>
  <% current_customer.shopping_cart_items.each do |item| %>
    <p><strong>Product: </strong>
    <%= item.product.name %></p>

    <p><strong>Price: </strong>
    <%= item.product.price %></p>

    <p><strong>Quantity: </strong>
    <%= item.quantity %>
    <p><strong>Total Price: </strong><%= total_price = item.product.price * item.quantity %></p>
    <% total += total_price %>
  <% end %>
  <p><strong>Total amount: </strong><%= total %></p>
<% else %>
  <p> Your cart is empty! </p>
  <p> Add a Product.. </p>
<% end %>

<%= form_with(model: [current_customer, current_customer.orders.build]) do |f| %>
  <%= f.hidden_field :delivery_address_id, value: @delivery_address.id%>
  <%= f.submit 'Confirm Order' %>
<% end %>

<%= link_to 'Go to products list', products_path %>
