<%= render 'shared/header' %>

<h5><strong>Order Details: </strong></h5>
<% if current_customer.shopping_cart_items.any? %>
  <% total = 0 %>
  <table class="highlight" style= "width:70%" >
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Price</th>
    </tr>
    <% current_customer.shopping_cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %>
            <%= link_to 'Show Details', product_path(item.product_id) %>
        </td>
        <td><%= item.quantity%></td>
        <td><%= item.product.price %></td>
        <td><%= total_price = item.quantity * item.product.price %></td>
        <% total += total_price %>
      </tr>
    <% end %>
  </table>
  <p><strong>Total amount: </strong><%= total %></p>
<% else %>
  <p> Your cart is empty! </p>
  <p> Add a Product.. </p>
<% end %>

<% if current_customer.delivery_addresses.any? %>
  <p class="red-text">Select one address for delivery or add a new address to your details</p>
  <%= form_with(model: [current_customer, current_customer.orders.build]) do |f| %>
    <%= f.collection_radio_buttons(:delivery_address_id, @delivery_addresses, :id, :address) %><br>
    <%= f.submit 'Confirm Order' %>
  <% end %>
<% else %>
  <p>Please add a delivery address..</p>
<% end %>
