<div class="container">
  <%= form_with model: @product, local: true  do |form| %>
  <div class="row">
    <div class="input-field col s12" >
      <%= form.label :Product %><br>
      <%= form.text_field :name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12" >
      <%= form.label :Description %><br><br>
      <%= form.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6" >
      <%= form.label :Price %><br>
      <%= form.text_field :price %>
    </div>
     <div class="input-field col s6" >
      <%= form.label "Qunatity in stock" %><br>
      <%= form.text_field :stock_quantity %>
    </div>
  </div>
  <div class="row">
      <%= form.label :image %>
      <%= form.file_field :image%>
  </div>
  <div class="row">

  </div>
  <%= form.submit  %>
  <% end %>
<%= render 'shared/errors', object: @product %>
</div>


