<h3>List of Products</h3>
<table class="highlight" style= "width:70%" >
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><p class="black-text"><%= link_to product.name, product_path(product) %></p></td>

      <td><%= product.price %></td>
      <td><%= link_to image_tag(product.image.url(:thumb)), product.image.url, target: '_blank' %></td>

      <td><% if product.stock_quantity > 0 %>
                <%= link_to "Add to Cart", "javascript:void(0)", product_id: product.id, class: "add_to_cart" if current_customer  %>
          <% else %>
                <strong class="red-text">Out of stock!!</strong>
          <% end %></td>

      <td><%= link_to 'Edit', edit_product_path(product) if is_admin? %>
          <%= link_to 'Destroy', product_path(product),
                       method: :delete,
                       data: { confirm: 'Are you sure?' } if is_admin?%></td>
    </tr>
  <% end %>
</table>
