<p><strong>Product: </strong>
<%= item.product.name %></p>

<p><strong>Price: </strong>
<%= item.product.price %></p>

<% if item.product.stock_quantity > 0 %>
  <p><strong>Quantity: </strong>
  <span id="quantity_<%= item.id %>"><%= item.quantity %></span>
  <%= link_to "Increment", "javascript:void(0)", data_href: shopping_cart_item_add_path(item), class: "change_quantity" %>
  <%= link_to "Decrement", "javascript:void(0)", data_href: shopping_cart_item_reduce_path(item), class: "change_quantity" %></p>
  <p><strong>Total Price: </strong><span id="price_<%= item.id %>"><%= total_price = item.product.price * item.quantity %></span></p>
<% else %>
  <p><strong>Out of Stock!! </strong></p>
<% end %>
<%= link_to 'Delete Item', "javascript:void(0)", customer_id: item.customer.id, item_id: item.id, class: "destroy_item" %>


