<p><strong>Product: </strong>
<%= item.product.name %></p>

<p><strong>Price: </strong>
<%= item.product.price %></p>

<% if item.product.stock_quantity > 0 %>
  <p><strong>Quantity: </strong>
  <%= item.quantity %>

  <%= link_to "Increment", shopping_cart_item_add_path(id: item), method: :post, remote: true, class: "add-quantity" %>
  <%= link_to "Decrement", shopping_cart_item_reduce_path(id: item), method: :post, remote: true%></p>
  <p><strong>Total Price: </strong><%= total_price = item.product.price * item.quantity %></p>
<% else %>
  <p><strong>Out of Stock!! </strong></p>
<% end %>
<%= link_to 'Delete Item', [item.customer, item],
                method: :delete, remote: true,
                data: { confirm: 'Are you sure?' } %></p>

